---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<div class="content">    
    <div class="post item row">
        <div class="desc col-xs-12">
            <h2 class="title">{{ page.title }}</h3>
            <h3 class="date">Thursday, June 28, 2018</h4>
            <div class="main-article">
                <div class="post">
                    {{ content }}
                  </div>
            </div>
                       
        </div><!--//desc-->                          
    </div><!--//item-->
    
    <hr class="divider" />
    
</div>
